{% extends "base.html" %}

{% block content %}
<h3>Testcases Summary</h3>
<hr>
<a href="#" data-action='add' class="btn btn-success" data-testcaseid="0" data-toggle="modal"
    data-target="#modalTestCaseDetails">
    <span><i class="fa fa-plus-circle"></i> Create</span>
</a>

<table class="table table-responsive table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Description</th>
            <th scope="col">Project</th>
            <th scope="col">Status</th>
            <th scope="col">Assignee</th>
            <th scope="col">Created Date</th>
            <th style="text-align: center" scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        {% for tc in test_cases %}
        <tr>
            <th scope="row">{{tc.id}}</th>
            <td>{{tc.title}}</td>
            <td>{{tc.reproduce_step}}</td>
            <td>{{tc.project.name}}</td>
            <td>                
                <span class="badge rounded-pill {% if tc.status.id == 1 %} bg-danger {% else %} bg-success {% endif %}">{{tc.status.name}}</span>                
            </td>
            <td>{{tc.assignee.first_name}} {{tc.assignee.last_name}}</td>
            <td>{{tc.created_date}}</td>
            <td style="text-align: center">
                <a class="btn btn-danger" href="#" onclick="onConfirmDelete({{tc.id}})"><span><i
                            class="fa fa-trash-o"></i></span></a>
                <a class="btn btn-primary" data-testcaseid="{{tc.id}}" data-toggle="modal"
                    data-target="#modalTestCaseDetails">
                    <span><i class="fa fa-pencil-square-o"></i></span>
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<form name="frmTestCaseDetails" action="save" method="POST" onsubmit="return onFormSubmit(this)">
    <div class="modal fade" id="modalTestCaseDetails" tabindex="-1" aria-labelledby="modalTestCaseDetailsLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalTestCaseDetailsLabel"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        {% csrf_token %}
                        <input type="hidden" name="testcaseID" id="hdnTestCaseID">
                        <div class="form-group">
                            <label for="txtTitle">Title (*)</label>
                            <input name="title" type="text" class="form-control" id="txtTitle" />
                        </div>
                        <div class="form-group">
                            <label for="txtSteps">Steps (*)</label>
                            <textarea name="steps" class="form-control" id="txtSteps" rows="4"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="slPriority">Priority</label>
                            <select name="priority" class="form-control" id="slPriority">
                                {% for p in priorities %}
                                <option value="{{p}}">{{p}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="slProject">Projects</label>
                            <select name="projectID" class="form-control" id="slProject">
                                {% for p in projects %}
                                <option value="{{p.id}}">{{p.name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group" id="tcStatus">
                            <label for="slStatus">Status</label>
                            <select name="statusID" class="form-control" id="slStatus">
                                {% for s in status %}
                                <option value="{{s.id}}">{{s.name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="slAssignee">Assignees</label>
                            <select name="assigneeID" class="form-control" id="slAssignee">
                                {% for user in assignees %}
                                <option value="{{user.id}}">{{user.first_name}} {{user.last_name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <br>
                        <div id="errorMsg" class="alert alert-danger" role="alert">
                            Please fill all the required (*) fields
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal"><span><i
                                class="fa fa-times-circle-o"></i> Cancel</span></button>
                    <button id='btnAdd' name='action' type="submit" class="btn btn-primary" value="add">
                        <span><i class="fa fa-save"></i> Add</span>
                    </button>
                    <button id='btnUpdate' name='action' type="submit" class="btn btn-primary" value="edit">
                        <span><i class="fa fa-save"></i> Update</span>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div id="dialog-confirm" title="Delete the testcase?" style="display:none">
        <p><span class="ui-icon ui-icon-alert" style="float:left; margin:12px 12px 20px 0;"></span>These items will be
            permanently deleted and cannot be recovered. Are you sure?</p>
    </div>
</form>


<script>
    var modalTestCaseDetails = $('#modalTestCaseDetails'),
        title = $('#txtTitle'),
        steps = $('#txtSteps'),
        priority = $('#slPriority'),
        project = $('#slProject'),
        slStatus = $('#slStatus'),
        assignee = $('#slAssignee');

    init();

    function init() {
        $('#errorMsg').hide();
        modalTestCaseDetails.on('show.bs.modal', onModalShown);
    }

    function onModalShown(e) {
        var testcaseID = Number($(e.relatedTarget).data('testcaseid'));
        $('#hdnTestCaseID').val(testcaseID);

        if (testcaseID) {
            $('#btnAdd').hide();
            $('#btnUpdate').show();
            $('#modalTestCaseDetailsLabel').text('Update test case');
        }
        else {
            $('#btnUpdate').hide();
            $('#btnAdd').show();
            $('#modalTestCaseDetailsLabel').text('Create test case');
        }

        $.ajax({ url: `/${testcaseID}`, method: 'GET' })
            .then(function (response) {
                var tc = response[0].fields;
                title.val(tc.title);
                steps.val(tc.reproduce_step);
                priority.val(tc.priority);
                assignee.val(tc.assignee);
                slStatus.val(tc.status);
                project.val(tc.project);
            });
    }

    function isValid() {
        return title.val() && steps.val();
    }

    function onFormSubmit(e) {
        if (!isValid()) {
            $('#errorMsg').show();
            return false;
        }
        return true;
    }

    function onConfirmDelete(id) {
        var res = $("#dialog-confirm").dialog({
            resizable: false,
            height: "auto",
            width: 400,
            modal: true,
            buttons: {
                "Yes": function () {
                    location.href = `/delete/${id}`;
                },
                Cancel: function () {
                    $(this).dialog("close");
                }
            }
        })

        debugger;
    }

</script>

{% endblock %}